{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}subscriber-list{% endblock layout_class %}

{% block newsletter_content %}
    <h1>{{ 'subscriber.list'|trans }}</h1>

	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="alert">
			{{ flashMessage|trans }}
		</div>
	{% endfor %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'subscriber.firstname'|trans }}</th>
            <th>{{ 'subscriber.lastname'|trans }}</th>
            <th>{{ 'subscriber.company'|trans }}</th>
            <th>{{ 'subscriber.email'|trans }}</th>
            <th>{{ 'subscriber.groups'|trans }}</th>
	        <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for subscriber in subscribers %}
            <tr>
                <td>{{ subscriber.id }}</td>
                <td>{{ subscriber.firstname }}</td>
                <td>{{ subscriber.lastname }}</td>
                <td>{{ subscriber.companyname }}</td>
                <td>{{ subscriber.email }}</td>
                <td>{{ subscriber.groups|join(',') }}</td>
	            <td>
		            <a class="btn btn-danger" href="{{ path('ibrows_newsletter_subscriber_delete', { id: subscriber.id }) }}">
			            {{ 'subscriber.delete.button'|trans }}
		            </a>
	            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	<a class="btn btn-primary" href="{{ path('ibrows_newsletter_subscriber_create') }}">{{ 'subscriber.create.button'|trans }}</a>
{% endblock newsletter_content %}