{% extends 'IbrowsNewsletterBundle::layout.html.twig' %}

{% import "IbrowsNewsletterBundle::macros.html.twig" as macros %}
{% block newsletter_wizard %}
    {{ macros.displayWizard(wizard) }}
{% endblock %}

{% block newsletter_content %}
<form action="{{ path('ibrows_newsletter_create') }}" method="post" {{ form_enctype(form) }}>
{{ form_errors(form) }}
{{ form_rest(form) }}

<div class="form-actions">
	<button type="submit" class="btn btn-primary">{{ 'form.save'|trans({}, "IbrowsNewsletterBundle") }}</button>
	<button type="button" class="btn">{{ 'form.cancel'|trans({}, "IbrowsNewsletterBundle") }}</button>
</div>
</form>
{% endblock %}