{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}newsletter-summary{% endblock layout_class %}

{% import "IbrowsNewsletterBundle::macros.html.twig" as macros %}
{% block newsletter_wizard %}
    {{ macros.displayWizard(wizard) }}
{% endblock newsletter_wizard %}

{% block head_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var $summary = new ibrows_newsletter.summary({
            container: '[data-container="newsletter_summary"]',
            elements: {
                overview: '[data-element="overview"]'
            }
        });

        jQuery(function(){
            $summary.ready();
        });
    </script>
{% endblock head_javascripts %}

{% block newsletter_content %}
    <div data-container="newsletter_summary">
        <h1>{{ 'newsletter.summary'|trans({'%name%': newsletter.name}) }}</h1>

        <h2>{{ 'newsletter.testmail'|trans }}</h2>
        <form action="" method="post" {{ form_enctype(testmailform) }}>
            {{ form_errors(testmailform) }}
            {{ form_rest(testmailform) }}

            <div class="form-actions">
                <input type="submit" name="testmail" class="btn btn-primary" value="{{ 'form.testmail'|trans }}">
            </div>
        </form>

        <h2>{{ 'newsletter.overview'|trans }}</h2>
        <div class="newsletter-overview">
            <iframe data-element="overview" src="{{ url('ibrows_newsletter_overview', {newsletterId: newsletter.id, subscriberId: subscriber.id}) }}" />
        </div>
    </div>
{% endblock newsletter_content %}